body {
    margin: 0;
    height: 100vh 
}
.top-section, .footer-container {
    background-color: #1F2937;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 60px;
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.right {
    width: 250px;
}
.img {
    object-fit: cover;
    object-position: center;
    width: 120px;
    height: 120px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}
.sign-up {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.title-container {
    display: flex;
    justify-content: center;
}
.items-container {
    display: flex;
    justify-content: space-between;
    padding:0px 200px 80px 200px;
}
.nursing, .occupational-therapy, .physical-therapy, .speech-therapy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.third-section {
    background-color: #E5E7EB;
    padding: 60px 200px;
}
.quote {
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.author {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}
button {
    background-color: #3882F6;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 5px 20px
}